.image-container{
    display: flex;
    align-items: flex-start;
   
}


.swimmer-image {
    width: 176;
    height: 235px;
    margin-left: 10px;
} 

.wedding-image {
    width: 176px;
    height: 235px;
}

.mountainbike-image {
    width: 176;
    height: 235;
    margin-left: 20px;
}


.image-container {
    display: flex;
    justify-content: space-between;
}  
.stats {
 height: 50px;
 margin-left: 10px;

}
